Ciclo V/DESARROLLO SERVICIOS WEB - REINCORPORADO/EC01_Soap_Estudiantes/src/main/resources/estudiantes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/EC01_Soap_Estudiantes"
           xmlns:tns="http://example.com/EC01_Soap_Estudiantes"
           elementFormDefault="qualified">
  
  <!-- Request para obtener un estudiante por ID -->
  <xs:element name="obtenerEstudiantePorIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Response para obtener un estudiante por ID -->
  <xs:element name="obtenerEstudiantePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="edad" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Request para registrar un estudiante -->
  <xs:element name="registrarEstudianteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="edad" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Response para registrar un estudiante -->
  <xs:element name="registrarEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="confirmacion" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
