Ciclo V/DESARROLLO SERVICIOS WEB - REINCORPORADO/EC2_DavidVegaOrtiz/problema3/src/main/resources/saludar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://problema3.com/soap"
           xmlns:tns="http://problema3.com/soap"
           elementFormDefault="qualified">

    <xs:element name="SaludarRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SaludarResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>